<div class="row mt-3">
    <div class="col-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#!orderManager">Đơn hàng chờ xác nhận</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#!orderManager/orderSuccess">Đơn hàng đã xác nhận</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#!orderManager/orderCancel">Đơn hàng đã hủy</a>
            </li>
        </ul>
        
        <div class="tab-content">
            <div id="home" class="container tab-pane active"><br>
                <h3>Đơn hàng đã hủy</h3>
                <div class="row mt-3">
                    <div class="card border-primary p-2">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Họ và tên</th>
                                    <th class="text-center">Địa chỉ</th>
                                    <th class="text-center">Số điện thoại</th>
                                    <th class="text-center">Laptop</th>
                                    <th class="text-center">Số lượng</th>
                                    <th class="text-center">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="order in listOrders | filter: {
                                    status : 'Đã hủy',
                                }">
                                    <td class="text-center">{{ order.acc.name }}</td>
                                    <td class="text-center">{{ order.acc.address }}</td>
                                    <td class="text-center">{{ order.acc.phoneNumber }}</td>
                                    <td class="text-center">{{ order.variant.describe }}</td>
                                    <td class="text-center">{{ order.quantity }}</td>
                                    <td class="text-center">{{ order.variant.priceNew * order.quantity | number }} đ</td>
                                </tr>                    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
