<div class="banner row">
  <div class="col-4 pe-0 me-0">
    <div class="card"><img src="https://laptopaz.vn/media/banner/02_Janed7b3157ef035162bae224c5c0584749.jpg" alt="" height="185px"/></div>
  </div>
  <div class="col-4 ps-0 ms-0 pe-0 me-0">
    <div class="card"><img src="https://laptop88.vn/media/banner/02_Jan58521fa64cebd46f5a3928f6cf9256e6.png" alt="" height="185px"/></div>
  </div>
  <div class="col-4 ps-2 ms-0">
    <div class="card"><img src="https://laptop88.vn/media/banner/02_Jan5ea6384c8e4102d65afb4402d63c7813.png" alt="" height="185px"/></div>
  </div>
</div>