<!-- Footer -->
<footer class="text-center row mt-3">
    <div class="footer">
        <!-- Grid container -->
    <div class="container bg-body-tertiary">
        <!-- Section: Form -->
        <section class="">
            <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center pt-2">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mb-1">
                            <input type="email" id="form5Example24" class="form-control" placeholder="Enter Email"/>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button data-mdb-ripple-init type="submit" class="btn btn-outline-success mb-1">
                            Subscribe
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Create by:
        <a class="text-reset fw-bold" href="https://www.facebook.com/Manhh.YoungBoy/"><i
            class="fab fa-facebook-f"></i> Nguyễn Ngọc Mạnh </a> at 
        <a class="text-reset fw-bold" href="https://caodang.fpt.edu.vn/">FPT Polytechnic</a>
    </div>
    <!-- Copyright -->
    </div>
</footer>
<!-- Footer -->